<div
    class="h-screen w-screen flex flex-col md:px-[7%] justify-center md:gap-x-[1%] md:flex-row items-center pt-28 pb-48">

    <div class="w-full h-fit flex flex-col items-center justify-center">
        <p class="text-[60px] text-[#080226] mb-2 font-bold">ABOUT US</p>
        <div class="flex flex-col gap-y-4">
            <p class="text-[15px] text-[#080226] font-[400]">
                At Kosupure, we are more than just a store—we are a community of passionate cosplayers, creators, and fans.
                Founded with the vision of bringing characters to life, we offer a one-stop destination for high-quality
                cosplay costumes, essential accessories, and DIY supplies. Whether you're preparing for a convention, photo
                shoot, or simply celebrating your love for your favorite character, we’ve got you covered.
            </p>
            <p class="text-[15px] text-[#080226] font-[400]">
                Our mission is to make cosplay accessible, inclusive, and enjoyable for everyone, from first-time cosplayers
                to seasoned professionals. We focus on exceptional craftsmanship, attention to detail, and customer
                satisfaction to ensure that every product you receive feels authentic and true to the character you want to
                embody.
            </p>
        </div>
    </div>

</div>