<div
    class="h-screen w-screen flex flex-col md:px-[7%] justify-center md:gap-x-[1%] md:flex-row items-center pt-28 pb-48">

    <div class="w-full h-fit flex flex-col items-center justify-center">
        <p class="text-[60px] text-[#080226] mb-2 font-bold">DEVELOPERS</p>
        <div class="flex flex-col gap-y-4">
            <div class="w-full h-fit items-center justify-center flex">
                <img class="h-48 w-auto" src="/static/assets/Kosupure(13)1.jpg" alt="">
                <img class="h-48 w-auto" src="/static/assets/Kosupure(14)1.jpg" alt="">

            </div>
            <p class="text-[15px] text-[#080226] font-[400]">
                Kosupure is powered by a team of passionate and skilled developers who strive to create a seamless and user-friendly shopping experience. Behind the scenes, our developers work tirelessly to ensure smooth navigation, responsive design, secure transactions, and up-to-date features. Our team focuses on integrating the latest technologies to deliver a hassle-free browsing and checkout experience, from exploring product categories to tracking orders. 
            </p>
        </div>
    </div>

</div>