<div class="h-fit w-screen flex flex-col md:gap-x-4 md:flex-row md:justify-center  md:px-32 bg-[#e4e4e5] pt-14 md:pt-20 pb-10">
    <div
        class="w-full md:w-[500px] md:pt-5 h-fit my-3 md:mt-10 md:pb-10 flex flex-col items items-center justify-center gap-y-3">
        <!-- nav -->
        <svg class="hidden sm:block fill-[#080226]" xmlns="http://www.w3.org/2000/svg" width="65px" height="65px"
            viewBox="0 0 24 24">
            <path
                d="M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2M7 18.3c.5-1 3.1-1.8 5-1.8s4.5.9 5 1.8a7.9 7.9 0 0 1-5 1.7 8 8 0 0 1-5-1.7m11.4-1.5c-1.5-1.7-5-2.3-6.4-2.3s-5 .6-6.4 2.3A8 8 0 0 1 4 12a8 8 0 1 1 14.4 4.8M12 6c-2 0-3.5 1.6-3.5 3.5S10.1 13 12 13s3.5-1.6 3.5-3.5S13.9 6 12 6m0 5a1.5 1.5 0 0 1-1.5-1.5A1.5 1.5 0 0 1 12 8a1.5 1.5 0 0 1 1.5 1.5A1.5 1.5 0 0 1 12 11" />
        </svg>
        <div class="hidden sm:block">
            <div class="flex flex-col items-center">
                <p id="usernameAcc" class="text-black text-[12px] font-[700]">username</p>
                <p id="emailAcc" class="text-black text-opacity-[47%] text-[12px] font-[400]">email</p>
            </div>
        </div>
        <div class="hidden sm:block w-full border-[1px] my-4 border-solid border-[#08022630] border-opacity-[19%]">
            <!-- line -->
        </div>

        <div class="w-fit h-fit hidden sm:block">
            <div class="flex w-[155px] h-[32px] items-center gap-x-4 justify-center">
                <svg class="fill-[#C83E71]" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px"
                    viewBox="0 0 24 24">
                    <path
                        d="M19 19H5V5h14m0-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2m-2.5 13.3c0-1.6-3-2.3-4.5-2.3s-4.5.8-4.5 2.3v.7h9M12 12.2a2.3 2.3 0 0 0 2.3-2.2A2.3 2.3 0 0 0 12 7.7 2.3 2.3 0 0 0 9.7 10a2.3 2.3 0 0 0 2.3 2.3" />
                </svg>
                <a class="text-black text-[18px] font-[500]" href="/account" data-navigo>My Account</a>
            </div>

            <div class="flex w-[155px] h-[32px] items-center mt-4 gap-x-4 justify-start">
                <svg class="fill-[#C83E71]" width="32px" height="32px" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24">
                    <g>
                        <path d="M12.6 23.3h-.2v.5h.2v-.5m.3-.2-.2.1v.5l.2.1v-.6m-.8 0v.6h.2v-.5z" />
                        <path
                            d="M20 3a2 2 0 0 1 2 1.9V9h-1v10a2 2 0 0 1-1.9 2H5a2 2 0 0 1-2-1.9V9H2V5a2 2 0 0 1 1.9-2H4zm-1 6H5v10h14zm-5 4a1 1 0 1 1 0 2h-4a1 1 0 1 1 0-2zm6-8H4v2h16z" />
                    </g>
                </svg>
                <a class="text-black text-[18px] font-[500]" href="/orders" data-navigo>My Orders</a>
            </div>
        </div>
    </div>

    <div class="flex flex-col md:mt-10 w-screen h-fit md:bg-white">
        <!-- buttons -->
        <div class="md:w-[950px] w-full h-fit flex items-center md:items-start  bg-white">
            <button id="allButton" onclick="handleTabClick('allButton')"
                class="tab-button border-b-[5px] border-[#EB6B72] text-[11px] text-black font-[500] h-fit py-5 flex basis-[20%] items-center justify-center">
                All
            </button>
            <button id="pendingButton" onclick="handleTabClick('pendingButton')"
                class="tab-button text-[11px] text-black font-[500] h-fit py-5 flex basis-[20%] items-center justify-center">
                Pending
            </button>
            <button id="processButton" onclick="handleTabClick('processButton')"
                class="tab-button text-[11px] text-black font-[500] h-fit py-5 flex basis-[20%] items-center justify-center">
                Process
            </button>
            <button id="completedButton" onclick="handleTabClick('completedButton')"
                class="tab-button text-[11px] text-black font-[500] h-fit py-5 flex basis-[20%] items-center justify-center">
                Completed
            </button>
            <button id="cancelledButton" onclick="handleTabClick('cancelledButton')"
                class="tab-button text-[11px] text-black font-[500] h-fit py-5 flex basis-[20%] items-center justify-center">
                Cancelled
            </button>
        </div>
        <div class="hidden px-3 mt-5 sm:block w-full h-fit">

        
            <div class="flex items-center w-full bg-gray-200 rounded-full px-3 py-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-4.35-4.35m1.85-5.15a7 7 0 11-14 0 7 7 0 0114 0z"/>
                </svg>
                <input id="search-bar" type="text" placeholder="Search for products or order ID" class="bg-gray-200 outline-none ml-2 text-gray-700 placeholder-gray-500 w-full"/>
            </div>
            
            
        </div>
        <!-- Tables -->
        <div class="md:w-[950px] w-full h-screen flex flex-col items-center py-4 overflow-y-auto">
            <div id="allTable" class="allTable table-content items-center w-full h-full flex flex-col gap-y-2">
                <!-- all table -->

                <div class="w-full h-full flex justify-center items-center">
                    <div role="status">
                        <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                        </svg>
                        <span class="sr-only">Loading...</span>
                    </div>

                </div>
                
                <!-- cancelled card -->

            </div>
            
            <div id="pendingTable" class="pndTable table-content items-center hidden w-full h-full flex flex-col gap-y-2">
                <!-- all table -->
                
                   
                
            </div>

            <div id="onprocessTable" class="opTable table-content items-center hidden w-full h-full flex flex-col gap-y-2">
                <!-- all table -->


                
                
            </div>

            <div id="completedTable" class="compTable table-content items-center hidden w-full h-full flex flex-col gap-y-2">
                <!-- completed table -->

                
            </div>

            <div id="cancelledTable" class="cnclTable table-content items-center hidden w-full h-full flex flex-col gap-y-2">
                <!-- cancelled table -->
                

                

            </div>

    </div>






    </div>
</div>